# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Django
*.sqlite3
staticfiles/
media/

# Environment / secrets
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log
*.csv
# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!example.tfvars

# Docker
docker-data/
